# python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
dump/

# jupyter notebooks
.ipynb_checkpoints

# données du projet (selon ta structure src/config.py)
# on ignore le contenu mais on peut garder les dossiers avec .gitkeep si besoin
data/raw/*
data/processed/*
data/outputs_gen_ai_models/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# rapports et artefacts générés
reports/models/*
reports/results/*
reports/genai_inputs/*.csv
reports/genai_inputs/*.jsonl
!reports/models/.gitkeep
!reports/results/.gitkeep

# ide et système
.idea/
.vscode/
*.swp
.DS_Store

# logs potentiels
*.log